72;;Whitney Houston (1995)
7;;John Loe (2016)
74;;Duke Lawson (2010)
70;;Sarah Berge (2013)
75;;Martini Perez (2016)
76;;Alfred Buccuoneeli (2014)
77;;Dariano Alfredo (2015)
78;;Moses Pelham (2015)
79;;Pentegram (2010)
71;;Mike Lors (2017)
70;;David Book (2006)
